In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import numpy as np

In [5]:
os.chdir("C:\\project\\Dacon_MI6_Baseball-Data-Challenge")

In [6]:
regular=pd.read_csv("Regular_Season_Batter.csv")

In [7]:
pd.set_option('display.max_columns', 500)
regular.head(10)

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,3B,HR,TB,RBI,SB,CS,BB,HBP,SO,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
0,0,가르시아,2018,LG,0.339,50,183,27,62,9,0,8,95,34,5,0,9,8,25,3,0.519,0.383,9,177cm/93kg,1985년 04월 12일,내야수(우투우타),쿠바 Ciego de Avila Maximo Gomez Baez(대),NaN,0.902
1,1,강경학,2011,한화,0.000,2,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0.000,0.000,1,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.000
2,1,강경학,2014,한화,0.221,41,86,11,19,2,3,1,30,7,0,0,13,2,28,1,0.349,0.337,6,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.686
3,1,강경학,2015,한화,0.257,120,311,50,80,7,4,2,101,27,4,3,40,5,58,3,0.325,0.348,15,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.673
4,1,강경학,2016,한화,0.158,46,101,16,16,3,2,1,26,7,0,0,8,2,30,5,0.257,0.232,7,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.489
5,1,강경학,2017,한화,0.214,59,84,17,18,2,1,0,22,4,1,1,8,1,19,1,0.262,0.290,4,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.552
6,1,강경학,2018,한화,0.278,77,245,42,68,11,1,5,96,27,6,3,38,4,59,7,0.392,0.382,2,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.774
7,2,강구성,2013,NC,0.000,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.000
8,2,강구성,2015,NC,0.200,4,5,0,1,1,0,0,2,0,0,0,0,0,0,0,0.400,0.200,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.600
9,2,강구성,2016,NC,0.000,2,3,0,0,0,0,0,0,0,0,0,0,0,1,0,0.000,0.000,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.000

In [8]:
regular.columns

Index(['batter_id', 'batter_name', 'year', 'team', 'avg', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'TB', 'RBI', 'SB', 'CS', 'BB', 'HBP', 'SO', 'GDP',
       'SLG', 'OBP', 'E', 'height/weight', 'year_born', 'position', 'career',
       'starting_salary', 'OPS'],
      dtype='object')

In [9]:
#regular['avg']

0       0.339
1       0.000
2       0.221
3       0.257
4       0.158
5       0.214
6       0.278
7       0.000
8       0.200
9       0.000
10      0.000
11      0.200
12      0.127
13      0.139
14      0.000
15      0.000
16      0.176
17      0.231
18        NaN
19      0.242
20      0.269
21      0.212
22      0.273
23      0.306
24      0.281
25      0.290
26      0.278
27      0.288
28      0.288
29      0.246
        ...
2424    0.000
2425    0.181
2426    0.200
2427    0.222
2428    0.125
2429    0.174
2430    0.000
2431    0.083
2432    0.133
2433    0.158
2434    0.300
2435    0.239
2436    0.284
2437    0.225
2438    0.289
2439    0.272
2440    0.274
2441    0.321
2442    0.290
2443    0.335
2444    0.296
2445    0.149
2446    0.244
2447    0.111
2448      NaN
2449    0.000
2450    0.000
2451    0.000
2452    0.291
2453    0.167
Name: avg, Length: 2454, dtype: float64

In [10]:
#regular['batter_name']

0       가르시아
1        강경학
2        강경학
3        강경학
4        강경학
5        강경학
6        강경학
7        강구성
8        강구성
9        강구성
10       강구성
11       강구성
12       백승룡
13       백승룡
14       백승룡
15       백승룡
16       백승룡
17       백승룡
18       백승룡
19       진갑용
20       진갑용
21       진갑용
22       진갑용
23       진갑용
24       진갑용
25       진갑용
26       진갑용
27       진갑용
28       진갑용
29       진갑용
        ...
2424     황선일
2425     황선일
2426     황선일
2427     황선일
2428     황선일
2429     황선일
2430     황윤호
2431     황윤호
2432     황윤호
2433     황윤호
2434     황재균
2435     황재균
2436     황재균
2437     황재균
2438     황재균
2439     황재균
2440     황재균
2441     황재균
2442     황재균
2443     황재균
2444     황재균
2445     황정립
2446     황정립
2447     황진수
2448     황진수
2449     황진수
2450     황진수
2451     황진수
2452     황진수
2453     황진수
Name: batter_name, Length: 2454, dtype: object

In [11]:
regular['batter_name'].iloc[4]

'강경학'

In [15]:
#regular[['year','team']]

      year  team
0     2018    LG
1     2011    한화
2     2014    한화
3     2015    한화
4     2016    한화
5     2017    한화
6     2018    한화
7     2013    NC
8     2015    NC
9     2016    NC
10    2017    NC
11    2018    NC
12    2005    한화
13    2006    한화
14    2007    한화
15    2008    한화
16    2011    한화
17    2012    한화
18    2013    한화
19    1997    OB
20    1998    OB
21    1999    삼성
22    2000    삼성
23    2001    삼성
24    2002    삼성
25    2003    삼성
26    2004    삼성
27    2005    삼성
28    2006    삼성
29    2007    삼성
...    ...   ...
2424  2006    LG
2425  2007    LG
2426  2010    LG
2427  2011    LG
2428  2012    LG
2429  2015    한화
2430  2015    NC
2431  2016    NC
2432  2017    NC
2433  2018   KIA
2434  2007    현대
2435  2008    우리
2436  2009  히어로즈
2437  2010    롯데
2438  2011    롯데
2439  2012    롯데
2440  2013    롯데
2441  2014    롯데
2442  2015    롯데
2443  2016    롯데
2444  2018    KT
2445  2012   KIA
2446  2013   KIA
2447  2012    롯데
2448  2013    롯데
2449  2014    롯데
2450  2015    롯데
2451  2016    롯데
2452  2017    롯데
2453  2018    롯데

[2454 rows x 2 columns]

In [17]:
#regular

In [19]:
#regular[['batter_name','SLG']]